:root{
    --color-button-gmail: #dd5347;
    --bgcolor: #fafafa;
    --bgcolor-formulaire: #ECEAC4ff;
    --bgcolor-formulaire-gris: #B8B7B7ff;
    --color-button: #4D73E0ff;
  }

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="submit"]{
    border: 0;
    background: none;
    font-size: inherit;
}

.inner-form_creer_un_compte fieldset{
    border-radius: 1rem;
    border: var(--bgcolor-formulaire-gris);
}
.inner-form_creer_un_compte fieldset legend{
    padding: 1rem;
    font-size: large;
    font-variant: small-caps; /* petites capitales */
}
.inner-form_creer_un_compte{
    max-width: 90rem;
    margin: 5rem auto 2rem;
}
.inner-form_creer_un_compte form *{
    display: block;
    padding: 1rem 0;
}

.inner-form_creer_un_compte form input{
    /* border: solid .1rem #333; */
    width: 100%;
    line-height: 3.5rem;
    padding: .5rem;
    transition: all .6s ease-in-out;
}

.inner-form_creer_un_compte form input[type="text"], 
.inner-form_creer_un_compte form input[type="password"],
.inner-form_creer_un_compte form input[type="email"]{
    
    border-bottom: solid .1rem #ccc; 
  
    background: rgb(204,204,204);
    background: var(--bgcolor-formulaire-gris); 
    width: 60%;

}

.inner-form_creer_un_compte form [placeholder]{
    font-style: italic;
    transition: all .6s ease-in-out;
}
.inner-form_creer_un_compte form [placeholder]:focus{
    font-style: normal;
}
/* send button */
.inner-form_creer_un_compte form input[type="submit"]{
    background-color: var(--color-button);
     margin-top: 1rem;
     cursor: pointer;
     width: 35%;
     color: #fff;
     text-transform: uppercase;
     border-radius: .4rem;
     font-size: medium;
 }