:root{
    --color-button-gmail: #dd5347;
    --bgcolor: #fafafa;
    --bgcolor-formulaire: #fcf7c3;
    --bgcolor-formulaire-gris: #f8f5f5;
    --color-button: #4E7CD9;
  }

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="submit"]{
    border: 0;
    background: none;
    
}

.inner-form_creer_un_compte fieldset{
    border-radius: 1rem;
    border: solid .1rem #D0D0D0;
}
.inner-form_creer_un_compte fieldset legend{
    padding: 1rem;
    font-size: large;
}
.inner-form_creer_un_compte{
    max-width: 90rem;
    margin: 5rem auto 2rem;
}
.inner-form_creer_un_compte form *{
    display: block;
    padding: 1rem;
}
.inner-form_creer_un_compte label{
    padding-left: 0rem;
}
.inner-form_creer_un_compte form input{
    border-bottom: solid .1rem var(--bgcolor-formulaire-gris);
    width: 100%;
    line-height: 3.5rem;
    padding: 0 .1rem;
    transition: all .6s ease-in-out;
}

.inner-form_creer_un_compte form input[type="text"]{
    border-bottom: solid .1rem var(--bgcolor-formulaire-gris);
    background: rgb(242,242,242, .8); 
    color: #D0D0D0;
    font-weight: lighter;
}

.inner-form_creer_un_compte form input[type="password"],
.inner-form_creer_un_compte form input[type="email"]{
    border-bottom: solid .1rem #ccc;
    background: var(--bgcolor-formulaire); 
    color:black;
}

.inner-form_creer_un_compte form [placeholder]{
    transition: all .6s ease-in-out;
    padding: 0.8rem;
    /* text-decoration: black;
    font-weight: bold; */
}
/* .inner-form_creer_un_compte form [placeholder]:focus{
    font-style: normal;
    color: #ffffff;
} */
/* send button */
.inner-form_creer_un_compte form input[type="submit"]{
    background-color: var(--color-button);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 35%;
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
 }