:root{
  --color-button-gmail: #dd5347;
  --bgcolor: #fafafa;
  --bgcolor-formulaire: #fcf7c3;
  --bgcolor-formulaire-gris: #f8f5f5;
  --color-button: #4E7CD9;
}

/* menu GMAIL/bandeau blanc */
.menu_principal {
    background-color: var(--bgcolor);
    width: 100%;
    position: fixed;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--bgcolor-formulaire-gris);
  }

/* image gmail dans le header: */
img.logo{
  display: inline-block;
  vertical-align: -.6rem;
  margin-left: 2rem;
}
.imageGmail figcaption{
  display: inline-block;
}
/* texte gmail à droite de l'image: */
h1.item_gmail{ 
    display: inline-block;
    text-decoration: none;
    color: #545454;
    font-size: x-large;
  }

/* item du menu: */
.menu_principal .menu_gmail{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }


.menu_principal .menu_gmail .item{
    display: inline-block;
    cursor: pointer;
    color: var(--bgcolor-formulaire-gris);
  }

.menu_principal .menu_gmail .item a{
    padding: 5rem;
    text-decoration: none;
    color: black;
  }
 
 

.menu_principal .menu_gmail .item a:hover{
    background-color: var(--color-button-gmail);
    padding: 5rem;
    color: var(--bgcolor);
  }
  .active-page{
    color: var(--bgcolor)!important;
    background-color: var(--color-button-gmail);
  }

  .active-page2{
    color: var(--bgcolor)!important;
    background-color: var(--color-button-gmail);
  }

  
  