@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* RESET */

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
    scroll-behavior: smooth;
  }

body{
      font: 1.6rem sans-serif;
      height: 100vh;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      position: relative;
  }

h1,h2,h3,img{
    margin: 0;
    padding: 0;
  }

header,figure,nav,main{
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: 'Open Sans', sans-serif;
      
  }

  :root{
    --color-button-gmail: #dd5347;
    --bgcolor: #fafafa;
    --bgcolor-formulaire: #fcf7c3;
    --bgcolor-formulaire-gris: #f8f5f5;
    --color-button: #4D73E0ff;
  }

*{
    box-sizing: border-box;
  }


/*   THEME: */

.accueil{ 
    width: auto;
    height: 100vh;
}

/* image accueil en fond: */
.accueil img{ 
  display:block;
  z-index:-1;
  height: 100vh;
  width: 100%;
} 

.accueil {
  background: url('./asset/home-hero.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

/* texte sur l'image : */
.h1_accueil {
  position: absolute;
  display: flex;
  width: 30%;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-weight: 10px;
  color: #fafafa;
  font-weight: lighter;
  
}

/* bouton créer un compte : */
.bouton_creer_un_compte {
  margin-top: 20px;
}
.bouton_compte {
  position: absolute;
  display: flex;
  padding:1.5rem;
  margin-top: 2rem;
  top: 50%;
  left: 10%;
  background-color: var(--color-button-gmail);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  
}

/* bouton flèche du bas : */
.bouton_fleche {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer; 
  border: none;
  background-color: transparent;
}

.bouton_fleche img {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-button-gmail);
  clip-path: ellipse(50% 50%);
  padding: 1rem;
  
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5rem;
  color: #dd5347;
}